body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  */
.form{
  padding: 2rem;
  background-color:rgb(255, 215, 215);
  border-radius: 5px;
  box-shadow: inset;
  width: 30%;
}

.google{
  width: 100%;
  height:   2.5rem;
  margin: 5px;
  border-radius: 5px;
  background-color: red;
  color: white;
}
.google a{
  color: white;
}
